<% layout("/layouts/boilerplate") %>
<div style=" display: flex ;align-items: center; height: 60vh;">
<div class="alert alert-danger col-6 offset-3" role="alert" >
    Error status: <%= statusCode %> <br>
    <%= message %>
  <!-- A simple danger alert—check it out! -->
</div>
</div>
